<!-- User Profile Banner  -->
<div class="profile-banner banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <img src="http://placehold.it/200x200" class="">
      </div>
      <div class="col-xs-12 col-sm-8 text-left">
        <p>Distinctio totam autem. Aut mollitia dicta velit consequatur molestiae ea enim. Qui dolorum molestiae adipisci est odio veniam.  Distinctio totam autem. Aut mollitia dicta velit consequatur molestiae ea enim. Qui dolorum molestiae adipisci est odio veniam.  Distinctio totam autem. Aut mollitia dicta velit co.</p>
      </div>


    </div>
  </div>
</div>


<!-- Beginning of Dashboard Info  -->
<div class="wrapper-grey padded">
  <div class="container">

    <!-- Users requests of other acts (both confirmed and declined)  -->
    <div class="container">
      <h2 class="text-center">Your Requests</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/blue_magpie.jpg');">
            <div class="card-category">Rock</div>
            <div class="card-description">
              <h2>Blue Magpie Band</h2>
              <p>Live Shows | Coporate Events</p>
            </div>
            <img class="card-user avatar avatar-large" src="images/hamilton.jpeg">
            <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
    </div>





    <!-- Users performances (both confirmed and declined) which are coming up -->
    <div class="container">
      <h2 class="text-center">Your performances</h2>
      <div class="avatar">
        <img src="http://placehold.it/50x50" class="avatar dashboard-performances">
      </div>
      <div class="booking-information">
    <!--     <h3><%# @booking.acts.name %></h3>
        <p><%# @booking.address %></p>
        <p><%# @booking.time %></p> -->
      </div>
      <div class="booking-status">
        <p><%# @booking.booking_status %></p>
      </div>
    </div>




    <!-- Users Acts which they've created and manage -->
    <h2 class="text-center">Your acts</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/blue_magpie.jpg');">
          <div class="card-category">Rock</div>
          <div class="card-description">
            <h2>Blue Magpie Band</h2>
            <p>Live Shows | Coporate Events</p>
          </div>
          <img class="card-user avatar avatar-large" src="images/hamilton.jpeg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/hip_hop.png');">
          <div class="card-category">Hip Hop DJ</div>
          <div class="card-description">
            <h2>DJ Jojo</h2>
            <p>Weddings | Birthdays</p>
          </div>
          <img class="card-user avatar avatar-large" src="images/jojo.png">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/beatles.jpg');">
          <div class="card-category">Guitarist</div>
          <div class="card-description">
            <h2>Amin Malik</h2>
            <p>Festivals | Funerals</p>
          </div>
          <img class="card-user avatar avatar-large" src="images/amin.jpeg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>



