<div class="bg-image">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 padded bg-turqoise border-round text-white ">
        <%# simple_form_for [@act, @booking] do |f| %>
          <%# f.input :time, as: :datetime %>
          <%# f.input :address %>
          <%# f.input :booking_status, as: :radio %>
          <%# f.button :submit, class: 'btn btn-purple-fill' %>
        <%# end %>




      </div>
    </div>
  </div>
</div>
