t<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">Top Rated Acts</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/blue_magpie.jpg');">
          <div class="card-category">Rock</div>
          <div class="card-description">
            <h2>Blue Magpie Band</h2>
            <p>Live Shows | Coporate Events</p>
          </div>
          <img class="card-user avatar avatar-large" src="images/hamilton.jpeg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/hip_hop.png');">
          <div class="card-category">Hip Hop DJ</div>
          <div class="card-description">
            <h2>DJ Jojo</h2>
            <p>Weddings | Birthdays</p>
          </div>
          <img class="card-user avatar avatar-large" src="images/jojo.png">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/beatles.jpg');">
          <div class="card-category">Guitarist</div>
          <div class="card-description">
            <h2>Amin Malik</h2>
            <p>Festivals | Funerals</p>
          </div>
          <img class="card-user avatar avatar-large" src="images/amin.jpeg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>
