<div class="navbar-gigabeat">
  <!-- Logo -->
  <div id="navbar-logo">
    <%= link_to "BW", root_path %>
  </div>

<%#= link_to image_tag("logo.png"), root_path %>

  <!-- Right Navigation -->
  <div class="navbar-gigabeat-right hidden-xs hidden-sm">

  <!-- Text link -->
  <!-- <a href="" class="navbar-gigabeat-item navbar-gigabeat-link">Dashboard</a> -->

  <!-- Profile picture and dropdown -->
    <div class="navbar-gigabeat-item">
      <div class="dropdown">
        <div class="badge-container">
          <div data-toggle="dropdown">
            <p>Dash</p>
          </div>
          <div class="badge badge-purple">5</div>
          <ul class="dropdown-menu dropdown-menu-right navbar-gigabeat-dropdown-menu">
            <li><%= link_to "Dashboard", dashboard_users_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path %></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-gigabeat-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-gigabeat-dropdown-menu">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>

  </div>
</div>
