<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-gigaband-brand">
    <img src="images/lewagon.png" />
  </a>

  <!-- Right Navigation -->
  <div class="navbar-gigaband-right hidden-xs hidden-sm">

    <!-- Text link -->
    <a href="" class="navbar-gigaband-item navbar-gigaband-link">Dashboard</a>

    <!-- Profile picture and dropdown -->
    <div class="navbar-gigaband-item">
      <div class="dropdown">
        <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-gigaband-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-gigaband-dropdown-menu">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-gigaband-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-gigaband-dropdown-menu">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</div>
