<div class="navbar-gigabeat">
  <!-- Logo -->
  <a href="/" class="navbar-gigabeat-brand">
    <img src="images/lewagon.png" />
  </a>
  <p><%= link_to "Back", acts_path %></p>

  <!-- Right Navigation -->
  <div class="navbar-gigabeat-right hidden-xs hidden-sm">

  <!-- Text link -->
  <a href="" class="navbar-gigabeat-item navbar-gigabeat-link">Dashboard</a>
    <!-- Profile picture and dropdown -->
    <div class="navbar-gigaband-item">
      <div class="dropdown">
        <div class="badge-container">
          <img src="http://placehold.it/50x50" class="avatar-large dropdown-toggle" id="navbar-gigaband-menu" data-toggle="dropdown">
          <div class="badge badge-purple">5</div>
        </div>
        <ul class="dropdown-menu dropdown-menu-right navbar-gigaband-dropdown-menu">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-gigabeat-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-gigabeat-dropdown-menu">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>

  </div>
</div>
