.turqoise-cta-button {
  opacity: 1;
  text-decoration: none;
  color: white;
  background-color: $turqoise;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.btn-purple {
  color: $purple;
  border: 1px solid $purple;
  padding: 10px 15px;
  border-radius: 3px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-purple:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  background-color: $purple;
}
.btn-turqoise {
  color: $turqoise;
  border: 1px solid $turqoise;
  padding: 10px 15px;
  border-radius: 3px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-turqoise:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  background-color: $turqoise;
}
.btn-purple-fill {
  opacity: 1;
  color: $purple;
  background-color: white;
  font-weight: lighter;
  border-radius: 3px;
  padding: 10px 15px;
}
.btn-purple-fill:hover {
  background-color: $purple;
  color: white;
  border: 1px solid white;
  text-decoration: none;
  opacity: 1;
}
.btn-purple-filled {
  opacity: .8;
  color: white;
  background-color: $purple;
  font-weight: lighter;
  border-radius: 3px;
  padding: 10px 15px;
}
.btn-purple-filled:hover {
  background-color: $purple;
  color: white;
  border: 1px solid white;
  text-decoration: none;
  opacity: 1;
}
.btn-turqoise-filled {
  opacity: .8;
  color: white;
  background-color: $turqoise;
  font-weight: lighter;
  border-radius: 3px;
  padding: 10px 15px;
}
.btn-turqoise-filled:hover {
  background-color: $turqoise;
  color: white;
  border: 1px solid white;
  text-decoration: none;
  opacity: 1;
}
.dashboard-btn-purple-fill {
  opacity: 1;
  color: $purple;
  background-color: white;
  font-weight: lighter;
  border-radius: 3px;
  padding: 10px 15px;
  margin-top: 30px;
}
.button-top-margin {
  margin-top: 5px;
}
