<h1>Acts#index</h1>
<p>Find me in app/views/acts/index.html.erb</p>

# This is the form from the airbnb project. need to update though.  Not sure if need to use simple form, or partial.
<form action="#" class="form-inline">
  <input type="text" class="form-control input-lg" placeholder="checkin">
  <input type="text" class="form-control input-lg" placeholder="checkout">
  <select name="" id="" class="form-control input-lg">
    <option value="1">1 person</option>
    <option value="2">2 persons</option>
    <option value="3">3 persons</option>
  </select>
  <input type="submit" class="btn btn-primary btn-lg" value="Search">
</form>

# Add the acts loop here with cards
<div class="wrapper">
  <div class="container">
    <div class="row">

      # Add the acts loop here with cards
      <div class="col-xs-4 card">
        # Act details should go here

      </div>

    </div>
  </div>
</div>