
# This is the form from the airbnb project. need to update though.  Not sure if need to use simple form, or partial.
<form action="#" class="form-inline">
  <input type="text" class="form-control input-lg" placeholder="checkin">
  <input type="text" class="form-control input-lg" placeholder="checkout">
  <select name="" id="" class="form-control input-lg">
    <option value="1">1 person</option>
    <option value="2">2 persons</option>
    <option value="3">3 persons</option>
  </select>
  <input type="submit" class="btn btn-primary btn-lg" value="Search">
</form>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <% @acts.each do |act| %>
        <div class="col-xs-4 card">
        <h3><%= act.name %></h3>
        <p>Description: <%= act.description %></p>
        <p>Good For: <%= act.good_for %></p>
        <p>Genre: <%= act.genre %></p>
      <% end %>

      </div>

    </div>
  </div>
</div>