<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
  <div class="banner-content">
    <h1>Some Stuff</h1>
    <p>Very cool stuff, useful and smart</p>
    <a class="btn btn-primary btn-lg">BOOK AN ACT</a>
  </div>
</div>

<div class="booking-form">
  <form action="#" class="form-inline">
    <input type="text" class="form-control input-lg" placeholder="date of event">
    <input type="text" class="navbar-wagon-search-input" placeholder="address">
      <i class="fa fa-search"></i>
    <input type="submit" class="btn btn-primary btn-lg" value="Search">
  </form>
</div>

<div class="container">
  <div class="name">
    <h2><%= @act.name %></h2>
    <h3><%= @act.genre | @act.good_for %></h3>
  </div>

  <div class="description">
    <p><%= @act.description %></p>
  </div>

  <div class="samples">
  </div>

  <div class="socials">
    <ul class="list-inline">
      <li><a href=""><i class="fa fa-youtube"></i></a></li>
      <li><a href=""><i class="fa fa-instagram"></i></a></li>
      <li><a href=""><i class="fa fa-facebook"></i></a></li>
      <li><a href=""><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>

  <div class="reviews">

  </div>

</div>
