<h1>Acts#show</h1>
<p>Find me in app/views/acts/show.html.erb</p>

<div class="wrapper">
  <div class="container">
    <div class="row">

      # Boilerplate for the show page

    </div>
  </div>
</div>
